<!DOCTYPE html>
<html lang="en">
<head>
    <title>MovieApp</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="/stylesheets/appStyle.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
</head>
<body>
    
