<!DOCTYPE html>
<html lang="en">
<head>
    <title>MovieApp</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;700&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="/stylesheets/homePage.css">
</head>
<body>
<div class="container">
    <p class="search">Movie Search Page </p>
    <form action="/results" method="GET">
        <input type="text" placeholder="Enter Movie" name="movie" required>
        <input type="Submit">
    </form>
</div>

</body>
</html>
