body,html{
    width: 100%;
    padding:0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body{
    background: black;
}

/* Grid items */
.card{
    width: 300px;
    height: 500px;
    margin: 0;
    background: rgba(128, 128, 128, 0.2);
    border-radius: 10px;
    overflow: hidden;  /* to crop image inside rounded div*/
    position: relative;
}

/* Show hover effect for image while hover over card */
.card:hover .card-image {
    transform: scale(1.1);
}


/* Movie Image */
.card-image{
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 300px;
    transition: transform 0.4s;
}

/* Image container */
.card-image-box{
    width: 100%;
    overflow: hidden; 
    height: 250px;
    position: relative;
    background: black;
}

/* Movie title */
.card-description{
    margin:0;
    color: rgba(255, 255, 255, 0.692);
    padding: 0px 15px;
    letter-spacing: 0.8px;
    font-weight: 300;
}

#rating{
    color: rgb(3, 184, 3);
    font-weight: 500;
}

.card-rating i{
    color: rgba(255, 217, 0, 0.74);
}

.card-title{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    transition: all 0.4s;
}

.card-title:hover{
    text-decoration: underline;
}

.heart{
    font-size: 1.2rem;
    font-weight: 300;
    padding-left: 9px;
    margin:0;
    bottom: 20px;
    position: absolute;
    color: rgba(255, 255, 255, 0.466);
    transition: all 0.3s;
}


.black-filter{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.603);
    opacity: 0;
    transition: all 0.4s;
    color: gray;
    font-size: 3rem;
}
/* Center the eye icon in the middle */
.black-filter p{
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%,-30%);
}

a{
    text-decoration: none;
    color: gray;
}


.card-image-box:hover .black-filter{
    opacity: 1;
}



/* Parent grid */
.container{
    display: grid;
    width: 90%;
    margin: 50px auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    justify-items: center;  /*horizontal center item inside grid*/
}


/* Media queries */
/* @media(max-width: 1360px){
    .container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 1020px){
    .container{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 704px){
    .container{
        grid-template-columns: 1fr;
    }
} */