body,html{
    width: 100%;
    padding:0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body{
    background: black;
}

/* Grid items */
.card{
    width: 300px;
    height: 500px;
    margin: 0;
    background: rgba(128, 128, 128, 0.2);
    border-radius: 10px;
    overflow: hidden;  /* to crop image inside rounded div*/
    position: relative;
}

/* Show hover effect for image while hover over card */
.card:hover .card-image {
    transform: scale(1.1);
}


/* Movie Image */
.card-image{
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 300px;
    transition: transform 0.4s;
}

/* Image container */
.card-image-box{
    width: 100%;
    overflow: hidden; 
    height: 250px;
}

/* Movie title */
.card-description{
    margin:0;
    color: white;
    padding: 0px 11px;
    letter-spacing: 0.5px;
}

.card-title{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
}

.card-rating, .card-plot{
    font-weight: 200;
}

.heart{
    font-size: 1.3rem;
    font-weight: 200;
    padding-left: 20px;
    margin:0;
    bottom: 20px;
    position: absolute;
    color: rgba(128, 128, 128, 0.836);
}

/* Parent grid */
.container{
    display: grid;
    width: 90%;
    margin: 50px auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    justify-items: center;  /*horizontal center item inside grid*/
}


/* Media queries */
/* @media(max-width: 1360px){
    .container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 1020px){
    .container{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 704px){
    .container{
        grid-template-columns: 1fr;
    }
} */