body,html{
    width: 100%;
    height: 100%;
    padding:0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    /* --grayback : rgb(52, 51, 52); */
    --grayback: linear-gradient(to right, #141e30, #243b55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    --shadow: -4px -4px 10px rgba(255, 255, 255, 0.158),
    4px 4px 10px rgba(0, 0, 0, 0.685);
    
}


body{
    background: var(--grayback);
}

#navbar{
    width: 100%;
    height: 80px;
    background: var(--grayback);
    position: relative;
    top: 0;
    border-radius: 5px;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.685);
    color: rgba(255, 255, 255, 0.932);
}


#navbar .brand{
    line-height: 80px;
    font-size: 1.7rem;
    margin: 0px 100px;
    display: inline-block;  
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.685);
    font-family: 'MuseoModerno', cursive;
}

#navbar .brand a{
    text-decoration: none;
    color: white;
}

#navbar .search{
    font-size: 1.3rem;
    position: absolute;
    display: inline-block;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
}

#navbar .movie-input{
    width: 400px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: var(--grayback);
    box-shadow: -2px -2px 7px rgba(255, 255, 255, 0.158),
    2px 2px 7px rgba(0, 0, 0, 0.685);
    outline: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    padding-left: 20px;
}

#navbar button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    color: white;
    background: var(--grayback);
    box-shadow: -2px -2px 7px rgba(255, 255, 255, 0.158),
    2px 2px 7px rgba(0, 0, 0, 0.685);
    outline: none;
}

::placeholder{
    color: rgba(255, 255, 255, 0.527);
}

#navbar button:active{
    box-shadow: 0px 0px 0px #FFF;
}


.result{
    margin: 10px 30px;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.685);
}
/* Grid items */
.card{
    width: 90%;
    height: 600px;
    margin: 0;
    background: var(--grayback);
    border-radius: 10px;
    overflow: hidden;  /* to crop image inside rounded div*/
    position: relative;
    max-width: 400px;
    box-shadow: var(--shadow)
}

/* Show hover effect for image while hover over card */
.card:hover .card-image {
    transform: scale(1.1);
}


/* Movie Image */
.card-image{
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 800px;
    transition: transform 0.4s;
}

/* Image container */
.card-image-box{
    width: 100%;
    overflow: hidden; 
    height: 250px;
    position: relative;
    background: black;
}

/* Movie title */
.card-description{
    margin:0;
    color: rgba(255, 255, 255, 0.692);
    padding: 0px 15px;
    letter-spacing: 0.8px;
    font-weight: 300;
}

.card-description .topic{
    font-weight: 500;
    color: rgba(255, 255, 255, 0.822);
}

.rating{
    color: rgb(10, 177, 10);
    font-weight: 500;
    text-shadow: 1px 1px 0.7px rgba(0, 0, 0, 0.808);
}

.card-rating i{
    color: rgba(255, 217, 0, 0.74);
}

.card-title{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    transition: all 0.4s;
}

.card-title:hover{
    text-decoration: underline;
    cursor: pointer;
}

.heart{
    font-size: 1.2rem;
    font-weight: 300;
    padding-left: 9px;
    margin:0;
    bottom: 20px;
    position: absolute;
    color: rgba(255, 255, 255, 0.466);
    transition: all 0.3s;
}


.black-filter{
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.603);
    opacity: 0;
    transition: all 0.3s;
    color: gray;
    font-size: 3rem;
}
/* Center the eye icon in the middle */
.black-filter p{
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%,-30%);
}

a{
    text-decoration: none;
    color: gray;
}

/* to apply black filter with an eye element in middle */
.card-image-box:hover .black-filter{
    opacity: 1;
}



/* Parent grid */
.container{
    display: grid;
    width: 90vw;
    margin: 50px auto;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 80px;
    justify-items: center;  /*horizontal center item inside grid*/
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}
/* Preview card styling */
.big-card{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.842);
    position: fixed;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s;
}

/* Add open class when any card is selected */
.big-card.open{
    opacity: 1;
    pointer-events: all;
}

/* full image shown in preview */
.big-card .main-image{
    width: 20%;
    height:50%;
    background: white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 300px;
    min-width: 230px;
    min-height: 270px;
    max-height: 370px;
    transition: all 0.2s;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
}

/* preview blurred cover image */
.big-card .cover-image{
    width: 98%;
    height: 40%;
    left: 50%;
    top:1%;
    transform: translateX(-50%);
    object-fit: cover;
    filter: blur(10px);
    position: absolute;
}

/* close icon */
.close-icon{
    position: absolute;
    font-size: 1.5rem;
    color:rgba(255, 255, 255, 0.836);
    top:0;
    right: 0;
    height: 15px;
    width:15px;
    padding: 10px;
    margin:0;
    cursor: pointer;
}

/* give popup animation while clicked on card */
.movie-data.open{
    transform: translate(-50%, -50%) scale(1);
}

.movie-data{
    width: 80%;
    height: 100%;
    background: var(--grayback);
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    position: absolute;
    transition: all 0.2s;
    border-radius: 20px;
}

.movie-details{
    margin: auto;
    width: 90%;
    height: 100%;
    position: relative;
    padding: 0;
    font-size: 1.2rem;
    top: 52%;
    color: rgba(255, 255, 255, 0.849);
    font-weight: 300;
    overflow: hidden;
    letter-spacing: 0.8px;
}

.movie-title{
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.808);
    overflow: hidden;
}

.movie-inside{
    padding:2px 10px;
    height: 29%;
    overflow-y: scroll; /* to add scrollbar for y-axis*/
}

.movie-data .rating{
    color: rgba(4, 247, 134, 0.795);
}

.movie-data #topic{
    font-weight: 500;
}
.movie-type{
    text-transform: capitalize;
}


/* Customize scrollbar */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.562); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.562); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: white; 
  }

  /* alternative */
/* Media queries */
/* @media(max-width: 1360px){
    .container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width: 1020px){
    .container{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 814px){
    .container{
        grid-template-columns: 1fr;
    }
} */

/* @media(min-width: 704px){
    .container{
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 1020px){
    .container{
        grid-template-columns: 1fr  1fr 1fr;
    }
} */

@media(max-width:930px){
    #navbar{
        height:130px;
    }

    #navbar .brand{
        display: block;
        margin:auto;
        text-align: center;
    }
    #navbar .search{
        display: block;
        position: static;
        margin: 10px auto;
        text-align: center;
    }

    #navbar .movie-input{
        width: 70%;
    }
    .container{
        top: 140px;
    }
}